@import "../../../styles/theme.scss";

.wrapper {
  padding: 8px 24px;
  font-size: 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.primary {
  color: white;
  background-color: $color-primary;

  &:hover {
    @include add-opacity($color-primary);
    text-decoration: none;
  }
}

.outlined {
  color: $color-primary;
  background-color: white;
  border: 1px solid $color-primary;
}

.link {
  background-color: inherit;
  border: none;
}
