@import "../../styles/theme.scss";

.wrapper {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid $color-border;

  .logo {
    flex: 1;
  }

  nav > ul {
    display: flex;
    gap: 16px;
  }
}
