@import "../../styles/theme.scss";

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  align-content: center;
  padding: 32px 0;
  
  background-color: white;
  border: 1px solid $color-border;
  border-radius: 4px;

  .item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-right: 1px solid $color-border;
    padding: 0 32px;

    .change {
      color: $color-green;
    }
    .change.negative {
      color: $color-red;
    }

    .label {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .symbol {
        display: flex;
        align-items: center;
        gap: 8px;
        color: $color-grey;

        > img {
          width: 20px;
          height: 20px;
          border-radius: 10px;
        }
      }
    }
  }
}