$color-primary: #4f46e5;

$color-dark-grey: #666;
$color-grey: #999;
$color-light-grey: #bbb;

$color-dark-green: #166534;
$color-green: #8ab01a;
$color-light-green: #f0fdf4;

$color-dark-red: #991b1b;
$color-red: #d44d5c;
$color-light-red: #fef2f2;

$color-dark-yellow: #854d0e;
$color-light-yellow: #fefce8;

$color-dark-blue: #1d4ed8;
$color-light-blue: #eff6ff; 

$color-border: #eee;
$color-dark-border: #ddd;

$color-input: #ddd;