@import "../styles/theme.scss";

.page {
  display: flex;
  position: relative;

  nav.sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100vh;
    background-color: $color-primary;

    @include media-mobile {
      display: none;
    }
  }

  .content {
    flex: 1;
    padding: 32px;
    background-color: #fafafa;
    margin-left: $sidebar-width;
    min-height: calc(100vh - 64px);
  }
}
